<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.brazhnik.fobres">
    <!-- Разрешение для доступа к интернету -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Доступ к галерии -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!-- Реклама -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="SCAN_RESULTS_AVAILABLE_ACTION" />
    <uses-permission android:name="ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="ACCESS_FINE_LOCATION " />

    <!-- Initialize AdMob SDK with sample AppId -->
    <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

    <application
            android:name=".utilities.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_logo"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_logo_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Fobres"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".view.donation.DonationActivity"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value="" />
        </activity>
        <activity
                android:name=".view.SplashActivity"
                android:exported="true"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.rating.showprofile.ShowProfileActivity"
                android:exported="false" />
        <activity
                android:name=".view.profile.editprofile.EditActivity"
                android:exported="false" />
        <activity
                android:name=".view.main.MainActivity"
                android:exported="false"
                android:label="@string/title_activity_login"
                android:theme="@style/Theme.Fobres.NoActionBar" />
        <activity
                android:name=".view.authorization.register.RegisterActivity"
                android:exported="false"
                android:label="@string/title_activity_register"
                android:theme="@style/Theme.Fobres.NoActionBar" />
        <activity
                android:name=".view.authorization.login.LoginActivity"
                android:exported="false" />
    </application>

</manifest>